@charset "utf-8";
/* CSS Document */

.backgroundpic{
	background-image: url("../images/louis-hansel-e96ST3p7tn4-unsplash.jpg");
	padding-bottom: 100px;
	padding-top: 100px;
	color: white;
	text-shadow: 2px 2px 5px #883E24;
	padding-left: 20px;
}
	
	






